/* media queries: help to create responsive website */

div{
    height: 50px;
    width: 50px;
    background-color: pink;
}


@media (width: 600px){
/* 600 px specific  */
    div{
        background-color: purple;
    }

}

@media (min-width: 745px){
    /* min 745 and forward */
    div{
        background-color: chartreuse;
    }
}

@media (max-width : 400px){
    /* 0 to 400 px range*/
    div{
        background-color: orange;
    }
}