* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* fall back : backup fonts */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;       
}

.container {
    /* flex : arrange horiz */
    display: flex; 
    gap: 10px;
    padding: 20px; 

}

.board{
    height: 80vh;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.items{
    margin-top: 10px;

}

.item{
    border: 1px solid;
    padding: 15px, 8px;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.item:hover{
    background-color: rgb(222, 220, 220);
}
