div{
    background-color: orange;

    /* inline (occupy what is req) / block (full width of doc) / inline-block (can add margin, padding etc) /
     none (doc se remove) */
    display: inline-block ;
}

button{
    background-color: purple;

    display: inline;
}


#hide{
    background-color: blueviolet;

    /* elmt ke space bhi remove karta  */
    display: none;

    /* sirf elmt karta hai; space is reserved */
    visibility: hidden;
}

