p{
    /* alignment of text base on parent elmt (default- document)
     text-align: right/left/center (start/end); likhna start kaha se karu */
    text-align: right;


    /* text ka style kya hai */
    /* multiple fonts are used as fallback mechanism */
    font-family: Arial, Helvetica, sans-serif;
    /* generic fotns: serif, sans-serif, cursive, fantasy, monospace */


    /*space betn lines (defauult as normal) */
    line-height: 30px;

    
    /* uppercase/ lowercase */
    text-transform: capitalize;
    text-transform: lowercase;
}

h1{
    /* text ka decore
    text- decoration: underline/ overlien/ line-through */
    text-decoration: line-through;

    /* kuch decoration apply matt karo; use to remove links underline */
    text-decoration: none;

    text-decoration: pink line-through wavy;

}

/* font ka weight normal/bold/bolder/lighter */
#nl{
    font-weight: normal;
}
#bd{
    font-weight: bold;
}
#bdr{
    /* bold aur bolder meh itna kuch diff nahi hai */
    font-weight: bolder;
}
#lr{
    font-weight: lighter;
}



