/* external css */

h1{
    /* forground ka clr set; forground- samne wale elmt- text, btn, link */
    color: yellow;
}


h1, p {

    /* background clr set; default white hota hai*/
    background-color: khaki;
}

button {

    /* rgb clr system */
    background-color: rgb(111, 183, 17);

    /* hexa clr system */
    background-color: #d65b0f;
}


.heading2{
    /* class selctor . */
    color: fuchsia;
}

#myid{
    /* id selector # */
    color: #d65b0f;
}



